[Desktop Entry]
Name=Asunder audio CD ripper
GenericName=Audio CD Ripper
Comment=An application to save tracks from an Audio CD as WAV, MP3, OGG, and/or FLAC.
Comment[es]=Una aplicación para guardar tracks desde CD de audio como WAV, MP3, OGG y/o FLAC
Exec=asunder
Encoding=UTF-8
Terminal=false
StartupNotify=true
Type=Application
Categories=AudioVideo
Icon=asunder.png
Name[es]=Asunder | extraer CD de audio
Name[fr]=Extracteur de CD Audio Asunder
