
[Desktop Entry]
Encoding=UTF-8
Version=1.2
Name=Compression of Folder
Name[es]=Compresor de directorios

GenericName=Archive maker

Exec=/usr/bin/compression.sh
Icon=mini-folder.xpm
Terminal=false
Type=Application

Categories=Archiving
StartupNotify=true
MimeType=inode/directory;
