[Desktop Entry]
Encoding=UTF-8
Name=mtPaint image editor
Icon=/usr/local/lib/X11/mini-icons/mini-palette.xpm
Comment=mtPaint image editor
CommentName[es]=Editor de imágenes 
Exec=mtpaint
Terminal=false
Type=Application
Categories=RasterGraphics
GenericName=mtPaint image editor
Name[es]=mtPaint | editor de imágenes 
Name[fr]=Editeur d'images mtPaint