[Desktop Entry]
Encoding=UTF-8
Name=PeasyPrint graphic/photo printing
GenericName=PeasyPrint
Comment=PeasyPrint graphic/photo printing
Comment[es]=Impresión de gráficos/fotos
Exec=/usr/sbin/peasyprint
Icon=tb_print.xpm
Terminal=false
Type=Application
StartupNotify=false
Categories=X-GraphicUtility
Name[es]=PeasyPrint | impresión de gráficos/fotos
Name[es]=PeasyPrint | impresión de gráficos/fotos
Name[fr]=Impression de photos/graphismes PeasyPrint