[Desktop Entry]
Encoding=UTF-8
Name=pStopWatch stop watch
Icon=mini-clock.xpm
Comment=pStopWatch stop watch
Comment[es]=Cronómetro
Exec=pstopwatch
Terminal=false
Type=Application
Categories=X-PersonalUtility
GenericName=pStopWatch stop watch
Name[fr]=Chronomètre pStopWatch