[Desktop Entry]
Encoding=UTF-8
Name=Xfontsel font viewer
Icon=mini-font.xpm
Comment=Xfontsel font viewer
Comment[es]=Xfontsel | visor de fuentes
Exec=xfontsel -bg "#e0ffe0"
Terminal=false
Type=Application
Categories=X-DesktopApplets
GenericName=Xfontsel font viewer
Name[es]=Xfontsel | visor de fuentes
Name[fr]=Visualiseur de polices Xfontsel